/* grid-background.css */
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f0f0f0; 
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px; 
    height: 100vh;
    margin: 0;
}

#sandwich::before {
  content: '';
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 35px;
  height: 5px;
}

  
#sandwich {
  position: fixed;
  top: 30px;
  left: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 35px;
  height: 5px;
  cursor: pointer;
  z-index: 100000;
}

#sandwich::after {
  content: '';
  position: fixed;
  top: 40px;
  left: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 35px;
  height: 5px;
}

#output {
  display: flex;
  flex-direction: column; /* Si tu veux empiler les outputs verticalement */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Occupation de toute la hauteur */
  width: 100%;  /* Occupation de toute la largeur */
  border: 1px solid #ccc;
}
