main {
    position: relative;
    height: 100vh;

    div:hover {
        cursor: move;
        border: 1px dotted rebeccapurple;
    }
}

.draggable {
    &__paragraph {
        width: fit-content;
        max-width: 500px;
        height: fit-content;
        background-color: lightblue;
        position: relative;
    }

    &__box {
        z-index: 1;
        width: 250px;
        height: 444px;
        background-color: white;
    }
  }