nav {
    position: fixed;
    top: 0;
    left: -25%; /* Le menu est caché hors de l'écran à gauche */
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 20%; /* Largeur fixe du menu */
    height: 100vh;
    padding: 20px;
    transition: transform 0.3s ease-out; /* Animation fluide lors de l'affichage */
    transform: translateX(0); /* Position initiale */

    h1 {
        font-size: 56px;
        text-align: center;
        margin: 30px;
    }

    ul h2 {
      font-size: 32px;
      margin: 15px;
    }
      
    ul li {
      font-size: 20px;
      margin: 10px 40px;
    }
  }
  
  nav.active {
    transform: translateX(110%); /* Fait glisser le menu pour qu'il entre dans le cadre */
  }
  
  
  
  
  