nav {
    position: absolute;
    top: 0;
    left: -25%; /* Le menu est caché hors de l'écran à gauche */
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    width: 20%; /* Largeur fixe du menu */
    height: 100vh;
    padding: 20px;
    z-index: 10000;
    transition: transform 0.3s ease-out;
    transform: translateX(0); 

    h1 {
        font-size: 48px;
        margin: 30px 15px;
    }

    ul h2 {
      font-size: 32px;
      margin: 15px;
    }
      
    ul li {
      font-size: 20px;
      margin: 10px 40px;
    }
    
    input {
      margin: 10px 40px;
    }
  }
  
  nav.active {
    transform: translateX(110%); /* Fait glisser le menu pour qu'il entre dans le cadre */
  }
  
  
  
  
  